html{
    scroll-behavior: smooth;
}
.w-100{
    height:450px!important;
    width:100%;
}

.slide::after{
    content:'';
    display:block;
    width: 100%;
    background: #000;
    margin: 0 auto;
    position: absolute;
    height:450px;
    top: 0;
    opacity: .5;
 
}

.btn-outline-warning:hover {
    color: white;
}

.text-black:hover{
    color: white;
}

.div-flex1,
.div-flex2,
.div-flex3{
    display: flex;   
    justify-content: center;
    margin-top: 40px;
}

.div-flex1 .div-flex-son{
    width: 400px;
    height: 700px;
    background-color: #000;
    margin: 10px;
}
 
.div-flex2 .div-flex-son{
    width: 400px;
    height: 500px;
    background-color: #fc0;
    margin: 10px;
}
 
.div-flex3 .div-flex-son{
    width: 400px;
    height: 500px;
    background-color: #c75;
    margin: 10px;
}
 .flex-main{
     display: flex;
     flex-direction: column;
     margin-bottom: 300px;
 }
.navbar.navbar-expand-lg.navbar-light.bg-white{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.carousel-caption.d-none.d-md-block h3{
    font-weight: bolder!important;
}
.carousel-caption.d-none.d-md-block p{
    font-size: 21px!important;
}

.nav-link.active::after{
    content: '';
    display: block;
    margin-block: 0 auto;
    width: auto;
    height: 2px;
    background-color: #0B508C;
}


.mybtn:hover {
    border-bottom: 2px solid #0B508C;
}

.mybtn2 {
    background: #0B508C;
    color: white !important;
    border-radius: 4px;
}
.mybtn2:hover {
    border:1px solid #0B508C;
    border-radius: 4px;
}

.teste {
    height: 40px !important;
}
.mytitle::after {
    content: '';
    background-color: #0B508C;
    display: block;
    margin-block: 0px auto;
    width: 100px;
    height: 3px;
    border-radius: 100px;
}

.text-justify {
    text-indent: 20px;
}

.card {
    background-color:rgba(255,255,255,.8) !important;
    border-radius: 8px;
}


svg {
    opacity: 1 !important;
    height: 80px;
    width: 80px;
 }


 /* ScrollToTop */
a.back-to-top {
    display: none;
    position: fixed;
    padding: 5px;
    bottom: 18px;
    background-color: #0B508C;
    border-radius: 100px;
    right: 15px;
    text-decoration: none;
  }
  
.mysvg {
    height: 40px;
    width: 40px;
}
  
  a.back-to-top:hover, a.back-to-top:focus {
    text-decoration: none;
  }


  .btn-outline-primary {
      border-color: #fff !important;
      color: #fff !important;
  }

  .btn-outline-primary:hover {
      border-color: #0B508C !important;
    background: #0B508C !important;
    color: #fff !important;
}


.btn-primary {
    background-color: #0B508C !important;
}

/*********************** Demo - 1 *******************/
.box1 img,.box1:after,.box1:before{width:100%;transition:all .3s ease 0s}
.box1 .icon,.box2,.box3,.box4,.box5 .icon li a{text-align:center}
.box10:after,.box10:before,.box1:after,.box1:before,.box2 .inner-content:after,.box3:after,.box3:before,.box4:before,.box5:after,.box5:before,.box6:after,.box7:after,.box7:before{content:""}
.box1,.box11,.box12,.box13,.box14,.box16,.box17,.box18,.box2,.box20,.box21,.box3,.box4,.box5,.box5 .icon li a,.box6,.box7,.box8{overflow:hidden}
.box1 .title,.box10 .title,.box4 .title,.box7 .title{letter-spacing:1px}
.box3 .post,.box4 .post,.box5 .post,.box7 .post{font-style:italic}
body{background-color:#f1f1f2}
.mt-30{margin-top:30px}
.mt-40{margin-top:40px}
.mb-30{margin-bottom:30px}
.box1 .icon,.box1 .title{margin:0;position:absolute}
.box1{box-shadow:0 0 3px rgba(0,0,0,.3);position:relative}
.box1:after,.box1:before{height:50%;background:rgba(0,0,0,.5);position:absolute;top:0;left:0;z-index:1;transform-origin:100% 0;transform:rotateZ(90deg)}
.box1:after{top:auto;bottom:0;transform-origin:0 100%}
.box1:hover:after,.box1:hover:before{transform:rotateZ(0)}
.box1 img{height:auto;transform:scale(1) rotate(0)}
.box1:hover img{filter:sepia(80%);transform:scale(1.3) rotate(10deg)}
.box1 .title{font-size:19px;font-weight:600;color:#fff;text-transform:uppercase;text-shadow:0 0 1px #004cbf;bottom:10px;left:10px;opacity:0;z-index:2;transform:scale(0);transition:all .5s ease .2s}
.box1:hover .title{opacity:1;transform:scale(1)}
.box1 .icon{padding:7px 5px;list-style:none;background:#004cbf;border-radius:0 0 0 10px;top:-100%;right:0;z-index:2;transition:all .3s ease .2s}
.box1:hover .icon{top:0}
.box1 .icon li{display:block;margin:10px 0}
.box1 .icon li a{display:block;width:35px;height:35px;line-height:35px;border-radius:10px;font-size:18px;color:#fff;transition:all .3s ease 0s}
.box2 .icon li a,.box3 .icon a:hover,.box4 .icon li a:hover,.box5 .icon li a,.box6 .icon li a{border-radius:50%}
.box1 .icon li a:hover{color:#fff;box-shadow:0 0 10px #000 inset,0 0 0 3px #fff}
@media only screen and (max-width:990px){.box1{margin-bottom:30px}
}

/*********************** ANIMAÇÃO NOS CARD DO IMG*******************/
.box3{box-shadow:0 0 3px rgba(0,0,0,.3);position:relative}
.box3 .box-content,.box3:after,.box3:before{position:absolute;left:7%;right:7%;transition:all .3s}
.box3:after,.box3:before{display:block;background:rgba(0,0,0,.3);top:10%;bottom:10%;z-index:1;transform:scale(0,1)}
.box3:after{top:10.8%;bottom:10.8%;transform:scale(1,0)}
.box3:hover:after,.box3:hover:before{transform:scale(1);animation:animate 1.5s}
.box3:hover:before{border-top:3px solid #0B508C;border-bottom:3px solid #0B508C}
.box:hover:after{border-left:3px solid #0B508C;border-right:3px solid #fff}
.box img{width:100%;height:auto;transition:all .3s}
.box3:hover img{transform:scale(1.2);filter:blur(5px);-moz-filter:blur(5px);-webkit-filter:blur(5px)}
.box3 .box-content{padding:30px 10px;top:10%;bottom:10%;opacity:0;z-index:2}
.box3:hover .box-content{box-shadow:0 0 0 35px rgba(255,255,255,.3);opacity:1;transition:all .3s}
.box3 .title{font-size:24px;font-weight:600;color:#fff;margin:0 0 5px}
.box3 .post{display:block;margin:0 0 5px;font-size:14px;color:rgba(255,255,255,.8)}
.box3 .description{font-size:14px;color:#fff;margin:0 0 20px}
.box3 .icon{padding:0;margin:0;list-style:none}
.box3 .icon li{display:inline-block;margin:0 10px 0 0}
.box3 .icon li a{display:block;width:30px;height:30px;line-height:30px;color:#fff;background:#88c425;transition:all .5s}
.box3 .icon a:hover{text-decoration:none;animation:animate-hover .5s;transition:all .3s}
@keyframes animate{0%,100%{opacity:1}
}
@keyframes animate-hover{0%{box-shadow:0 0 0 10px rgba(255,255,255,.3)}
50%{box-shadow:0 0 0 5px rgba(255,255,255,.3)}
100%{box-shadow:0 0 0 0 rgba(255,255,255,.3)}
}
.box10,.box11,.box12,.box14,.box4,.box5,.box6,.box7,.box9{box-shadow:0 0 3px rgba(0,0,0,.3)}
@media only screen and (max-width:990px){.box3{margin-bottom:30px}
.box3 .box-content{padding:10px}
.box3 .description{margin-bottom:10px}
}
@media only screen and (max-width:479px){.box3 .title{margin:0}
}



body {
    margin:0;
    padding:0;
    font-family: sans-serif;
}
section {
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
}
section.sec1 {
    background: url(../imgs/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
section.sec2 {
   /* background: url(https://www.hdwallpapers.in/walls/autumn_bench-HD.jpg);*/
    background: url(../imgs/img.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
section.sec3 {
    background: url(../imgs/img2.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.test {
    background-color: rgba(0,0,0,.5);
    padding-top: 5px; 
    width: 100%;
    height: 100%;
}
section.sec4 {
    background: url(../imgs/img.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
section.secText {
    padding: 50px 100px;
    height: auto;
}
section.secText h1 {
    margin:0;
    padding:0;
    font-size:48px;
    color:#262626;
}
section.secText p {
    font-size:18px;
}


